{% extends "templates/web.html" %}
{% block hero %}{% endblock %}


{% block content %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>ITS</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/assets/its/assets/img/favicon.svg">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/its/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/its/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/its/assets/plugins/fontawesome/css/all.min.css">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="/assets/its/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/its/assets/css/owl.theme.default.min.css">

		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/its/assets/plugins/feather/feather.css">	

		<!-- Slick CSS -->
		<link rel="stylesheet" href="/assets/its/assets/plugins/slick/slick.css">
		<link rel="stylesheet" href="/assets/its/assets/plugins/slick/slick-theme.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/assets/its/assets/plugins/select2/css/select2.min.css">

		<!-- Swiper CSS -->
		<link rel="stylesheet" href="/assets/its/assets/plugins/swiper/css/swiper.min.css">
		
		<!-- Aos CSS -->
		<link rel="stylesheet" href="/assets/its/assets/plugins/aos/aos.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/its/assets/css/style.css">
	
	<div class="home-three">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header-three">
				<div class="header-fixed-three header-fixed">
					<nav class="navbar navbar-expand-lg header-nav-three scroll-sticky">
						<div class="container">
							<div class="navbar-header">
								<a id="mobile_btn" href="javascript:void(0);">
									<span class="bar-icon">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</a>
								<a href="/its" class="navbar-brand logo">
									<img src="/files/Its.jpg" class="img-fluid" alt="Logo">
								</a>
							</div>
							<div class="main-menu-wrapper">
								<div class="menu-header">
									<a href="/its" class="menu-logo">
										<img src="/files/Its.jpg" class="img-fluid" alt="Logo">
									</a>
									<a id="menu_close" class="menu-close" href="javascript:void(0);">
										<i class="fas fa-times"></i>
									</a>
								</div>
								<ul class="main-nav">
									<li class="active">
										<a href="/its">Home</a>
									</li>
									<li class="">
										<a href="/its/courses">Courses</a>
									</li>	
									<li class="has-submenu">
										<a href="#">Student <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu first-submenu">
											<li class="has-submenu ">
												<a href="students-list.html">Student</a>
												<ul class="submenu">
													<li><a href="students-list.html">List</a></li>
													<li><a href="students-grid.html">Grid</a></li>
												</ul>
											</li>
											<li><a href="setting-edit-profile.html">Student Profile</a></li>
											<li><a href="setting-student-security.html">Security</a></li>
											<li><a href="setting-student-social-profile.html">Social profile</a></li>
											<li><a href="setting-student-notification.html">Notification</a></li>
											<li><a href="setting-student-privacy.html">Profile Privacy</a></li>
											<li><a href="setting-student-accounts.html">Link Accounts</a></li>
											<li><a href="setting-student-referral.html">Referal</a></li>
											<li><a href="setting-student-subscription.html">Subscribtion</a></li>
											<li><a href="setting-student-billing.html">Billing</a></li>
											<li><a href="setting-student-payment.html">Payment</a></li>
											<li><a href="setting-student-invoice.html">Invoice</a></li>
											<li><a href="setting-support-tickets.html">Support Tickets</a></li>
										</ul>
									</li>	
									<li class="has-submenu">
										<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="notifications.html">Notification</a></li>
											<li><a href="pricing-plan.html">Pricing Plan</a></li>
											<li><a href="wishlist.html">Wishlist</a></li>
											<li class="has-submenu">
												<a href="course-list.html">Course</a>
												<ul class="submenu">
													<li><a href="add-course.html">Add Course</a></li>
													<li><a href="course-list.html">Course List</a></li>
													<li><a href="course-grid.html">Course Grid</a></li>
													<li><a href="course-details.html">Course Details</a></li>
												</ul>
											</li>
											<li class="has-submenu">
												<a href="come-soon.html">Error</a>
												<ul class="submenu">
													<li><a href="come-soon.html">Comeing soon</a></li>
													<li><a href="error-404.html">404</a></li>
													<li><a href="error-500.html">500</a></li>
													<li><a href="under-construction.html">Under Construction</a></li>
												</ul>
											</li>
											<li><a href="faq.html">FAQ</a></li>
											<li><a href="support.html">Support</a></li>
											<li><a href="job-category.html">Category</a></li>
											<li><a href="cart.html">Cart</a></li>
											<li><a href="checkout.html">Checkout</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="forgot-password.html">Forgot Password</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="blog-list.html">Blog List</a></li>
											<li><a href="blog-grid.html">Blog Grid</a></li>
											<li><a href="blog-masonry.html">Blog Masonry</a></li>
											<li><a href="blog-modern.html">Blog Modern</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
										</ul>
									</li>
									<li class="login-link">
										<a href="login.html">Login / Signup</a>
									</li>
								</ul>		 
							</div>		 
							<ul class="nav header-navbar-rht align-items-center">
								{% if frappe.session.user!='Guest' %}
								<li class="nav-item"> 
									<a class="nav-link login-three-head" href="/?cmd=web_logout"><span>Logout</span></a>
								</li>
								{% else %}
								<li class="nav-item"> 
									<a class="nav-link login-three-head button" href="/login"><span>Login</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link signin-three-head" href="/login#signup">Register</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<!-- /Header -->
			{% block maincontent %}

			{% endblock %}
			
			<!-- Footer -->
			<footer class="footer footer-three">
				
				<!-- Footer Top -->
				<div class="footer-three-top" data-aos="fade-up">
					<div class="container">
						<div class="footer-three-top-content">
							<div class="row align-items-center">
								<div class="col-lg-6 col-md-6 col-12">
								
									<!-- Footer Widget -->
									<div class="footer-widget-three footer-about">
										<div class="footer-three-logo">
											<img class="img-fluid" src="/files/Its.jpg" alt="logo">
										</div>
										<div class="footer-three-about">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nulla gravida ut elit arcu egestas felis. Scelerisque at in magna dolor massa ipsum arcu lacus. Lobortis posuere justo nunc diam ac massa. Maecenas tellus adipiscing ac fames ut ac posuere. Aliquam, integer proin hendrerit euismod et. </p>
										</div>
										<div class="newsletter-title">
											<h6>Get Updates</h6>
										</div>
										<div class="box-form-newsletter">
											<form class="form-newsletter">
												<input class="input-newsletter" type="text" placeholder="Enter your email here">
												<button class="btn btn-default font-heading icon-send-letter">Subscribe Now</button>
											</form>
										</div>
									</div>
									<!-- /Footer Widget -->
									
								</div>
								
								<div class="col-lg-3 col-md-3 col-12">
								
									<!-- Footer Widget -->
									<div class="footer-widget-three footer-menu-three footer-three-right">
										<h6 class="footer-three-title">For Instructor</h6>
										<ul>
											<li><a href="instructor-profile.html">Profile</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="instructor-list.html">Instructor</a></li>
											<li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
										</ul>
									</div>
									<!-- /Footer Widget -->
									
								</div>
								
								<div class="col-lg-3 col-md-3 col-12">
								
									<!-- Footer Widget -->
									<div class="footer-widget-three footer-menu-three">
										<h6 class="footer-three-title">For Student</h6>
										<ul>
											<li><a href="student-profile.html">Profile</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="students-list.html">Student</a></li>
											<li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
										</ul>
									</div>
									<!-- /Footer Widget -->
									
								</div>
	
							</div>
						</div>						
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-three-bottom" data-aos="fade-up">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright-three">
							<div class="row">
								<div class="col-md-12">
									<div class="social-icon-three">										
										<h6>Connect Socially</h6>
										<ul>
											<li>
												<a href="#" target="_blank" class="feather-facebook-icon">
													<i class="feather-facebook"></i>
												</a>
											</li>
											<li>
												<a href="#" target="_blank" class="feather-twitter-icon">
													<i class="feather-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#" target="_blank" class="feather-linkedin-icon">
													<i class="feather-linkedin"></i>
												</a>
											</li>
											<li>
												<a href="#" target="_blank" class="feather-youtube-icon">
													<i class="feather-youtube"></i>
												</a>
											</li>
										</ul>
									</div>
									<div class="privacy-policy-three">
										<ul>
											<li><a href="term-condition.html">Terms & Condition</a></li>
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="support.html">Contact Us</a></li>
										</ul>
									</div>
									<div class="copyright-text-three">
										<p class="mb-0">&copy; 2023 DreamsLMS. All rights reserved.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="/assets/its/assets/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/assets/its/assets/js/bootstrap.bundle.min.js"></script>	
		
		<!-- Owl Carousel JS -->
		<script src="/assets/its/assets/js/owl.carousel.min.js"></script>
		
		<!-- Aos -->
		<script src="/assets/its/assets/plugins/aos/aos.js"></script>
		
		<!-- counterup JS -->
		<script src="/assets/its/assets/js/jquery.waypoints.js"></script>
		<script src="/assets/its/assets/js/jquery.counterup.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="/assets/its/assets/plugins/select2/js/select2.min.js"></script>	

		<!-- Slick Slider -->
		<script src="/assets/its/assets/plugins/slick/slick.js"></script>

		<!-- Swiper Slider -->
		<script src="/assets/its/assets/plugins/swiper/js/swiper.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/its/assets/js/script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
	</div>

<script>
	$( document ).ready(()=>{
		session_user = "{{ frappe.session.user }}"
		if(session_user=="Guest"){
			window.location.href="/login"
		}
	})
</script>
{% endblock %}