{% extends "templates/itsbase.html" %}
{% block maincontent %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/its">Home</a></li>
                            <li class="breadcrumb-item"><a href="/its/courses">Courses</a></li>
                            <li class="breadcrumb-item" aria-current="page">{{course.content_name}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instructor-wrap border-bottom-0 m-0">
                    
                    <span class="web-badge mb-3">{{course.learning_module}}</span>
                </div>
                <h2>{{course.content_name}}</h2>
                <p>{{course.category}}</p>
                <div class="course-info d-flex align-items-center border-bottom-0 m-0 p-0">
                    <div class="cou-info">
                        <img src="/assets/its/assets/img/icon/icon-01.svg" alt="">
                        <p>12+ Lesson</p>
                    </div>
                    <div class="cou-info">
                        <img src="/assets/its/assets/img/icon/timer-icon.svg" alt="">
                        <p>9hr 30min</p>
                    </div>
                    <div class="cou-info">
                        <img src="/assets/its/assets/img/icon/people.svg" alt="">
                        <p>32 students enrolled</p>
                    </div>
                </div>							
            </div>
        </div>
    </div>
</div>
<!-- /Inner Banner -->

<!-- Course Content -->
<section class="page-content course-sec">
    <div class="container">
    
        <div class="row">
            <div class="col-lg-8">
            
                <!-- Overview -->
                <div class="card overview-sec">
                    <div class="card-body">
                        <h5 class="subs-title">Overview</h5>
                        <h6>Course Description</h6>
                        <div class="row">
                            {{course.description}}
                        </div>
                        {% if course.prerequisite %}
                        <hr>
                        <h6>Requirements</h6>
                        <ul class="mb-0">
                            {% for i in course.prerequisite %}
                            <li><a class="text-primary" href="{{i.educational_content}}">{{i.educational_content}}<a/></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- /Overview -->

                <!-- Reviews -->
                <div class="card review-sec">
                    <div class="card-body">
                        <h5 class="subs-title">Reviews</h5>
                        <div class="instructor-wrap">
                            <div class="about-instructor">
                                <div class="abt-instructor-img">
                                    <a href="instructor-profile.html"><img src="/assets/its/assets/img/user/user1.jpg" alt="img" class="img-fluid"></a>
                                </div>
                                <div class="instructor-detail">
                                    <h5><a href="instructor-profile.html">Nicole Brown</a></h5>
                                    <p>UX/UI Designer</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!-- /Reviews -->
                
                
            </div>	
            
            <div class="col-lg-4">
                <div class="sidebar-sec">
                
                    <!-- Video -->
                    <div class="video-sec vid-bg">
                        <div class="card">
                            <div class="card-body">
                                <a href="https://www.youtube.com/embed/1trvO6dqQUI" class="video-thumbnail" data-fancybox="">
                                    <div class="play-icon">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                    <img class="" src="/assets/its/assets/img/video.jpg" alt="">
                                </a>
                                <div class="video-details">
                                    <div class="course-fee">
                                    <h2>FREE</h2>
                                    <p><span>$99.00</span> 50% off</p>
                                    </div>
                                    <div class="row gx-2">
                                        <div class="col-md-6">
                                            <a href="course-wishlist.html" class="btn btn-wish w-100"><i class="feather-heart"></i> Add to Wishlist</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="javascript:void(0);" class="btn btn-wish w-100"><i class="feather-share-2"></i> Share</a>
                                        </div>
                                    </div>
                                    {% if enrollment %}
                                        {% if enrollment.status=='Completed' %}
                                            <a class="btn btn-enroll w-100" href="/its/courses/{{course.name}}/learn">Completed</a>
                                        {% else %}
                                            <a href="/its/courses/{{course.name}}/learn" class="btn btn-primary w-100">In Progress</a>
                                        {% endif %}
                                    {% else %}
                                    <button class="btn btn-enroll w-100 enroll-btn-id" id="{{course.name}}">Enroll Now</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Video -->
                    
                    <!-- Include -->
                    <div class="card include-sec">
                        <div class="card-body">
                            <div class="cat-title">
                                <h4>Includes</h4>
                            </div>
                            <ul>
                                <li><img src="/assets/its/assets/img/icon/import.svg" class="me-2" alt=""> 11 hours on-demand video</li>
                                <li><img src="/assets/its/assets/img/icon/play.svg" class="me-2" alt=""> 69 downloadable resources</li>
                                <li><img src="/assets/its/assets/img/icon/key.svg" class="me-2" alt=""> Full lifetime access</li>
                                <li><img src="/assets/its/assets/img/icon/mobile.svg" class="me-2" alt=""> Access on mobile and TV</li>
                                <li><img src="/assets/its/assets/img/icon/cloud.svg" class="me-2" alt=""> Assignments</li>
                                <li><img src="/assets/its/assets/img/icon/teacher.svg" class="me-2" alt=""> Certificate of Completion</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Include -->
                    
                    <!-- Features -->
                    <div class="card feature-sec">
                        <div class="card-body">
                            <div class="cat-title">
                                <h4>Includes</h4>
                            </div>
                            <ul>
                                <li><img src="/assets/its/assets/img/icon/users.svg" class="me-2" alt=""> Enrolled: <span>32 students</span></li>
                                <li><img src="/assets/its/assets/img/icon/timer.svg" class="me-2" alt=""> Duration: <span>20 hours</span></li>
                                <li><img src="/assets/its/assets/img/icon/chapter.svg" class="me-2" alt=""> Chapters: <span>15</span></li>
                                <li><img src="/assets/its/assets/img/icon/video.svg" class="me-2" alt=""> Video:<span> 12 hours</span></li>
                                <li><img src="/assets/its/assets/img/icon/chart.svg" class="me-2" alt=""> Level: <span>Beginner</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Features -->
                    
                </div>
            </div>
        </div>	
    </div>
</section>
<!-- /Pricing Plan -->

{% endblock %}